<!DOCTYPE html>
<html>
<head>
  <title>Redmoi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="span12 headblock">
      <h1><a href="/">RedMoi</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="span3 sideblock">
      <%= yield(:side) %>
    </div>
    <div class="span8 contentblock">
      <% unless notice.nil? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>
  </div>
</div>

</body>
</html>
